h1 {
  color: white;
}

span {
  color: olive;
}

.div {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-size: 25px;
  margin: auto;
}

.volver {
  transition: all 0.2s;
}

.volver:hover {
  transition: all 0.2s;
  opacity: 50%;
}
