.logo {
  width: 100px;
  height: 100px;
  padding: 10px;
  transition: all 0.2s;
}

.nav {
  display: flex;
  border-bottom: 2px solid #2b2c30;
  justify-content: center;
}

.logo:hover {
  opacity: 50%;
}
